$color-white: #fff;
$color-black: #000;
$color-red: #fe5a86;
$color-menu: #253962;
$color-slider-text: #74787c;
$box-shadow: 0px 0px 4px 1px ;
$color_1: #fff;
$border-color_1: #049dff;
$border-color_2: #fdba04;
$footer-bg: #253962;
$footer-bg-p: #9ea3af;
$footer-bg-icon: #de4b39;
$brand-color: #253962;

